.logo {
  width: 84px;
  height: 75px;
}
body {
  font-family: SF UI Display;
  text-align: center;
}
.text-title {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 60px;
  letter-spacing: -0.5px;
}

.text-subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
  color: #6ccaa9;
}

.user-item-container {
  border-bottom: 1px solid #dddfe1;
}

.user-item-container:hover {
  background-color: #ccc;
}

.loading {
  height: 100px;
  width: 100px;
}

.bg-blue {
  background-color: #351ca4;
}

.nav a {
  font-size: 15px;
}

.nav .active {
  border-bottom: 2px solid #70cca8;
}

.profile-text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.text-gray {
  color: #949494;
}

.copyright-text {
  font-weight: 500;
  font-size: 15px;
  color: #8a8a8a;
}

.table-border {
  border: 1px solid #dddfe1;
}

.footer-div {
  box-shadow: -2px -4px 10px rgba(0, 0, 0, 0.1);
}

.user-div {
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 4px 4px 0px 0px;
}

.btn-green {
  color: #fff;
  background: #6ccaa9;
  border-radius: 4px;
  border-color: #6ccaa9;
  font-weight: 500;
  font-size: 20px;
  line-height: 60px;
}

.navigation-btn {
  background: #6ccaa9;
  border-radius: 50%;
}

.navigation-btn:hover {
  background: #309e78;
}

button:focus,
a:focus {
  outline: none;
}

.btn-green:hover {
  background: #309e78;
  border-color: #309e78;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 10px 40px;
  font-size: 14px;
  line-height: 1.42857143;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.loading-icon {
  height: 100px;
  width: 100px;
}

table th {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #464a53;
}

table td {
  font-weight: 500;
  font-size: 15px;
  color: #464a53;
  text-align: left;
}

.bg-penta {
  position: relative;
}

.bg-penta:after{
  border: 150px solid #351ca4;
  border-top-width: 160px;
  width: 100%;
  border-color: #351ca4 transparent transparent transparent;
  position: absolute;
  top: 0px;
  content: '';
  left: 0;
}

.table-div{
  background: rgb(255, 255, 255);
  overflow: visible;
  position: relative;
  z-index: 1000;
}